{% extends "account/base.html" %}

{% block content %}
    {% comment %} <form method="post">

        {% csrf_token %}

        {% for field in login_form %}
            <p>
                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}

                {% if login_form.non_field_error %}
                    <p>{{login_form.non_field_error}}</p>
                {% endif %}
            </p>
        {% endfor %}

        <button type="submit">Login</button>
    <form> {% endcomment %}

    <div class="text-center">
            <form class="form-signin" style="margin-top: 200px; width: 330px;" method="post">
                
                {% csrf_token %}

                <h1 class="display-3 mb-3 font-weight-normal">Login</h1>

                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control mt-1" placeholder="Email address" required autofocus>

                <label for="inputPassword" class="sr-only mt-3">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control mt-1" placeholder="Password" required>

                {% for field in login_form %}
                    <p>
                        {% if field.help_text %}
                            <small>{{ field.help_text }}</small>
                        {% endif %}

                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}

                        {% if login_form.non_field_error %}
                            <p>{{login_form.non_field_error}}</p>
                        {% endif %}
                    </p>
                {% endfor %}
                

                <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Sign in</button>
                <p class="mt-3"><a href="{% url 'register' %}">Register an account</a></p>
                <p class="mt-5 mb-3 text-muted">Group 43</p>
            </form>
    </div>
{% endblock content %}